@import "styles/breakpoints";
@import "sass-mq";

.wrapper {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}

.headerWrapper,
.main,
.footerWrapper {
  display: flex;
  justify-content: center;
}

.headerWrapper {
  border-bottom: 1px solid #3c4043;
}

.inner {
  max-width: 1280px;
  width: 100%;
  @include mq($until: tablet) {
    .headerWrapper &,
    .footerWrapper & {
      padding: 0 12px;
    }
  }
  @include mq($from: tablet) {
    padding: 0 24px;
  }
}

.footerWrapper {
  background: #171717;
}
