.wrapper {
  @include mq.mq($from: tablet) {
    padding: 24px 0;
  }
}

.detailWrapper {
  @include mq.mq($until: tablet) {
    border-bottom: 1px solid #3c4043;
    padding: 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 0 24px;
  }
}

.open {
  @include mq.mq($until: tablet) {
    padding: 0 0 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 0 24px;
  }
}

.close {
  height: 0;
  overflow: hidden;
}

.counterWrapper {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.detailWrapper2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
