.formInner {
  display: flex;
  @include mq.mq($until: tablet) {
    flex-direction: column;
    gap: 12px;
  }
  @include mq.mq($from: tablet) {
    align-items: center;
    gap: 24px;
    justify-content: space-between;
  }
}

.fieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.label {
  align-items: center;
  display: flex;
  gap: 4px;
}

.label2::after {
  content: ":";
}

.inputWrapper {
  max-width: 200px;
  overflow: hidden;
}

.ageWrapper {
  align-items: center;
  display: flex;
  gap: 4px;
}
