.wrapper {
  @include mq.mq($from: tablet) {
    padding: 24px 0;
  }
}

.counterWrapper {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  @include mq.mq($until: tablet) {
    border-bottom: 1px solid #3c4043;
    padding: 12px;
  }
  @include mq.mq($from: tablet) {
    padding: 0 0 24px;
  }
}
