html {
  @include mq.mq($until: tablet) {
    font-size: 50%;
  }
  @include mq.mq($from: tablet) {
    font-size: 62.5%;
  }
}

body {
  background: #202124;
  color: #bdc1c6;
  font-family: "M PLUS 2", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
  overflow: hidden scroll;
}

* {
  outline: 0;
}

a {
  caret-color: transparent;
  color: inherit;
  text-decoration: none;
}

svg {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.iOSPWA-container {
  font-family: arial, sans-serif;
}
