.header {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 12px 0;
}

.heading1 {
  color: #fff;
  font-family: "Kaisei Opti", serif;
  font-size: 3.2rem;
  white-space: nowrap;
}

.recruit {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.anchor {
  color: #8ab4f8;
  margin: 0 4px;
  text-decoration: underline;
}
