.footer {
  background: #171717;
  display: flex;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 16px 0;
}

.linksWrapper {
  display: flex;
  gap: 8px;
}
