.multiselect {
  background: #2d2e30;
  color: #fff;
}

.multiselect :global(.searchWrapper) {
  border: 0;
  padding: 4px 8px;
}

.multiselect :global(.chip) {
  background: transparent;
  font-size: 1.4rem;
  margin: 0;
  padding: 0 16px 0 0;
}

.multiselect :global(.searchBox) {
  color: #fff;
  margin: 0;
  width: 100%;
}

.multiselect :global(.optionListContainer) {
  background: #2d2e30;
  border-radius: 0;
  z-index: 3;
}

.multiselect :global(.optionContainer) {
  border: 0;
  border-radius: 0;
}

.multiselect :global(.option) {
  align-items: center;
  display: flex;
  padding: 3px 32px 3px 10px;
  @include mq.mq($until: tablet) {
    height: 25px;
  }
  @include mq.mq($from: tablet) {
    height: 30px;
  }
}

.multiselect :global(.groupHeading) {
  font-size: 1.2rem;
  padding: 5px 10px;
}
