.swiperSlide {
  position: relative;
}

.backgroundWrapper {
  filter: blur(4px);
  height: 100%;
}

.imageWrapper {
  height: 95%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.imageWrapper img {
  filter: drop-shadow(16px 8px rgba(#000, 75%));
}

.messageWindowWrapper {
  bottom: 36px;
  display: flex;
  height: 20%;
  justify-content: center;
  left: 24px;
  position: absolute;
  width: calc(100% - 24px * 2);
}

.messageWindow {
  align-items: center;
  background: rgba(#000, 75%);
  border-radius: 24px;
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 1280px;
  position: relative;
  width: 100%;
  @include mq.mq($until: tablet) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include mq.mq($from: tablet) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.messageWindow::before {
  border: 2px solid rgba(#fff, 50%);
  border-radius: 24px;
  content: "";
  display: block;
  height: calc(100% - 16px);
  position: absolute;
  width: calc(100% - 16px);
}

.messageWindow::after {
  bottom: 0;
  color: #fff;
  content: "▶";
  display: block;
  font-size: 2.4rem;
  padding: 16px 24px;
  position: absolute;
  right: 0;
}

.message {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  @include mq.mq($until: tablet) {
    font-size: 2.4rem;
  }
  @include mq.mq($from: tablet) {
    font-size: 3.2rem;
  }
}

.heading1Wrapper {
  left: 0;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.buttonWrapper {
  height: 100%;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.button {
  height: 100%;
  width: 100%;
}
