@import "styles/breakpoints";
@import "sass-mq";

.wrapper {
  @include mq($until: tablet) {
    padding: 12px 0;
  }
  @include mq($from: tablet) {
    padding: 24px 0;
  }
}

.inner {
  display: grid;
  @include mq($until: tablet) {
    gap: 12px;
  }
  @include mq($from: tablet) {
    gap: 24px;
  }
}

.heading2Wrapper,
.inner2 {
  @include mq($until: tablet) {
    padding: 0 12px;
  }
}

.inner2 {
  display: grid;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  gap: 12px;
  line-height: 2;
}

.list {
  list-style: disc;
  padding: 0 0 0 1.4rem;
}

.anchor {
  text-decoration: underline;
}
