.formInner {
  display: grid;
  @include mq.mq($until: tablet) {
    gap: 12px;
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
  }
}

.fieldsWrapper {
  display: grid;
  justify-content: flex-start;
  @include mq.mq($until: tablet) {
    gap: 12px;
    padding: 0 12px;
  }
  @include mq.mq($from: tablet) {
    gap: 24px;
  }
}

.fieldWrapper2 {
  display: grid;
  gap: 4px;
}

.label {
  display: grid;
  gap: 8px;
  justify-items: flex-start;
}

.inputLabel {
  justify-items: legacy;
  width: 240px;
}

.required {
  padding: 0 0 0 4px;
}

.error {
  color: #f00;
  font-size: 1.2rem;
}

.buttonWrapper {
  @include mq.mq($until: tablet) {
    padding: 0 12px;
  }
}

.fieldWrapper {
  align-items: flex-start;
  display: flex;
  gap: 4px;
}
