.wrapper {
  @include mq.mq($until: tablet) {
    padding: 12px 0;
  }
  @include mq.mq($from: tablet) {
    padding: 24px 0;
  }
}

.heading2Wrapper {
  @include mq.mq($until: tablet) {
    padding: 0 12px;
  }
}
